
<div class="panel panel-default">
  <div class="panel-heading">

   <div class="btn-group panel-title">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
   Select Plot .. <span class="caret"></span>
   
  </button>
 
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="plot in landlordplots">
	   <a ng-click="GetDetails(plot.Plotname)">{{plot.Plotname}}</a>
	</li>
    
  </ul>
</div>

  </div>
  <div class="panel-body">
              <div ng-show="showError">

			     <div class="alert alert-warning"><strong>No Availbale Data for ..{{Plotname}}</strong> </div>
			  </div>

               <div ng-show="showData">
       
			 <pagination total-items="bigTotalItems" page="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination>
			 <h4>Plot Selected {{Plotname}}</h4>
      
				  <div class="table-responsive"> 
				   <table class="table table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>House</th>
							<th>Contact</th>
							<th>Balance</th>
						</tr>
					</thead>
					<tbody>
						<tr  ng-repeat="message in PaidTenant" >
							<td>{{message.name}}</td>
							<td>{{message.housename}}</td>
							<td>{{message.contact}}</td>
							<td>{{message.balance}}</td>
						</tr>
						
					   
					</tbody>
				  </table>

         </div>



</div>
</div>
</div>