

<div class="row">
<div class="col-sm-6 col-md-4"><p>
	  <div class="panel panel-default">
	<div class="panel-heading">
	<h1 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Statistics</h1>
	</div>
	<div class="panel-body">
	  <div class="list-group">
				<a href="#" class="list-group-item"> No.Vacant Hses <span class="badge">150</span>	</a>
				<a href="#" class="list-group-item"> No.Ocuppied Hses <span class="badge">200</span></a>
			</div>
	
	</div>
	</div>
</p>
</div>
<div class="col-sm-6 col-md-4"><p>
		  <div class="panel panel-default">
		<div class="panel-heading">
		<h1 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Reports</h1>
		</div>
		<div class="panel-body">Under Construction</div>
		</div>

</p></div> 
<div class="clearfix visible-sm"></div>
<div class="col-sm-6 col-md-4"><p>
	 <div class="panel panel-default">
	<div class="panel-heading">
	<h1 class="panel-title"><i class="fa fa-users fa-fw"></i> Users</h1>
	</div>
	<div class="panel-body">
	   
            <div class="list-group">
				<a href="#" class="list-group-item"> No.Tenants  <span class="badge">200</span>	</a>
				<a href="#" class="list-group-item"> No.LandLords  <span class="badge">10</span></a>
				<a href="#" class="list-group-item"> No.Agents <span class="badge">5</span></a>
			</div>

	</div>
	</div>

</p></div>
<div class="col-sm-6 col-md-4"><p>

		<div class="panel panel-default">
		<div class="panel-heading">
		<h1 class="panel-title"><i class="fa fa-cog fa-fw"></i>Settings</h1>
		</div>
		<div class="panel-body">Under Construction</div>
		</div>

</p></div>

</div>