 <div class="panel panel-primary">
       <div class="panel-heading">
			<h3 class="panel-title">House Rental Management..Vacate</h3>
		</div> 
   <div class="panel-body">
	

		     <br>
		    Add control to choose plot
		              <div class="col-md-4">
							<label for="tname">Tenant Names</label>
						<select class="form-control"  ng-model="crit" id="tname" ng-options="c.name for c in tenantdata" ng-disabled=disableComponents>  
			                       </select>
                                <div class="radio">
									  <label>
										<input type="radio" ng-model="House.status" name="optionsRadios" id="optionsRadios2" value="vacant" ng-disabled=disableComponents>
										   VACATE
									  </label>
									</div>
                         </div>
						 <div class="col-md-4">
                            <label for="hsename">House Name</label>
								   <input type="text" class="form-control" placeholder="House Name" id ="hsename" ng-model="crit.housename" disabled >

                            </div>

				   		



</div>





  <div class="panel-footer">
  	<button type="button" class="btn btn-primary" ng-click="Add()">Add</button>         	
	<button type="button" class="btn btn-success" ng-click="Update()" ng-disabled=disableComponents>Update</button>
	</div>
</div>




<div ng-show="vacateupdate" class="alert alert-success"><strong>{{msg}} !!!</strong> Vacation Successfull</div>
			<div ng-show="vacateerror" class="alert alert-danger"><strong>Error Occurred !!!</strong> {{msg}}</div>



