<div class="panel panel-default">
       <div class="panel-heading">
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			  Choose Document
			  <span class="caret"></span>
		</button>
			<ul class="dropdown-menu">
			  <li><a href="#">Tenant Agreement Doc</a></li>
			  <li><a href="#">Water Agreement Doc</a></li>
			</ul>	
  </div>
  
  <button type="button" class="btn-warning pull-right">Add</button>
   <button type="button" class="btn-primary pull-right">Clear</button>
   <button type="button" class="btn-danger pull-right">Get</button>
     </div>
</div>
		<div class="panel-body">

		</div>
</div>