Document mngt

<div class="panel panel-primary">
       <div class="panel-heading">
			<div class="btn-group dropup">
			  <button type="button" class="btn btn-default">Dropup</button>
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			  </button>
			  <ul class="dropdown-menu">
				<!-- Dropdown menu links -->
			  </ul>
</div>
	</div>
		<div class="panel-body">

		</div>
</div>