	<div class="panel panel-default">
	<div class="panel-heading">
			Password Change
	</div>
	
		<div class="panel-body">
	
             <form id="pwdchange" name="pwdchange" class="navbar-form navbar-right" role="form" novalidate>
				  <div ng-show="invalidcredential" class="help-block"><strong>Invalid Password Credential !!!</strong> </div>  
					
				<div class="form-group">
					  <input type="Password" placeholder="Old Password" class="form-control" name="oldpasswrd" id="oldpasswrd"  ng-model="pwd.oldpwd"  ng-blur="CheckPwd()" required><i ng-show="busy" class="fa fa-refresh fa-spin"></i><span ng-show="pwdchange.oldpasswrd.$dirty &amp;&amp; pwdchange.oldpasswrd.$error.required" class="help-block">User Password Credential Required</span>

					</div>

				 <div class="form-group">
					<input type="Password" class="form-control" id="passwd" name="passwd" ng-minlength="5" placeholder="New Password" ng-model="pwd.password" required match="pwd.conpassword">	<span ng-show="pwdchange.passwd.$dirty &amp;&amp; pwdchange.passwd.$error.required" class="help-block">Password Required</span>
					<span ng-show="pwdchange.$error.minlength" class="help-block">Password Too Short</span>	   
					</div>

					<div class="form-group">
					  <input type="Password" class="form-control" id="conpasswd" name="conpasswd" placeholder="Confirm Password" ng-model="pwd.conpassword" required match="pwd.password"/> <span ng-show="pwdchange.conpasswd.$dirty &amp;&amp; pwdchange.conpasswd.$error.required" class="help-block">Please Confirm your password</span><span ng-show="pwdchange.conpasswd.$dirty &amp;&amp; pwdchange.conpasswd.$error.match &amp;&amp; !pwdchange.conpasswd.$error.required" class="help-block">Passwords don't match</span>
					</div>

						

			</form>
     </div>
   <div class="panel-footer">
	   
             <button  ng-disabled="btnStatus || pwdchange.$invalid"  type="submit"  ng-click="SubmitPwd()" class="btn btn-success">Reset</button>

	   </div>
   </div>

<hr>

 <div ng-show="pwdchanged" class="alert alert-success"><strong>Password Successfully Changed</strong> </div>
 <div ng-show="pwderror" class="alert alert-danger"><strong>Error Occurred !!!</strong> {{msg}}</div>		