  <div class="panel panel-default">
   <div class="panel-heading">
   Statement
   </div>
  <div class="table-responsive">
<table class="table table-hover table-striped">  
        <thead>  
          <tr>  
            <th>Payment ID</th>  
            <th>Payment Date</th>
			<th>Transaction Type</th> 
			<th>Payment Method</th> 
            <th>Amount</th>  
            <th>Description</th>  			
          </tr>  
        </thead>  


        <tbody> 
		

		<tr data-ng-repeat="stmt in statement">
             <td>{{stmt._id}}</td>
			 <td>{{stmt.transactiondate}}</td>
			  <td>{{stmt.transactiontype}}</td>
			 <td>{{stmt.paymentmethod}}</td>
			 <td>{{stmt.tranAmount}}</td>
			 <td>{{stmt.Description}}</td>
		</tr>
         
		
        </tbody>  

</table>
 </div>            
</div>


