
<div class="panel panel-default">
       <div class="panel-heading">
			<h3 class="panel-title">Names {{tenant.name}}</h3>
		</div>


		<div class="panel-body">
		     
			 
              <div ng-if="!tenant.Details.view"> 
		        <div class="alert alert-danger">Neighbours Information is Private</div>
		     </div>

			  <div ng-if="tenant.Details.view">

                    <div  class="col-xs-5">
					   <img class="img-responsive img-thumbnail" ng-src="{{tenant.Details.imageUrl }}" alt="Image Unavailable" />
					</div>
                  <div class="col-xs-7">
			       <div ng-if="tenant.Details.gender" class="row form-group">
					<label class="col-sm-5 control-label">Gender</label>
					<div class="col-sm-7">
					  <p class="form-control-static">{{tenant.Details.gender}}</p>
					</div>
				  </div>

				   <div ng-if="tenant.Details.mstatus" class="row form-group">
					<label class="col-sm-5 control-label">Marital Status</label>
					<div class="col-sm-7">
					  <p class="form-control-static">{{tenant.Details.mstatus}}</p>
					</div>
				  </div>

			       <div ng-if="tenant.Details.email" class="row form-group">
					<label class="col-sm-2 control-label">Email</label>
					<div class="col-sm-10">
					  <p class="form-control-static">{{tenant.Details.email}}</p>
					</div>
				  </div>

				  <div ng-if="tenant.Details.hasChildren" class="row form-group">
					<label class="col-sm-5 control-label">Has Children</label>
					<div class="col-sm-7">
					  <p class="form-control-static">{{tenant.Details.hasChildren}}</p>
					   <p class="form-control-static"><span><strong>Number. </strong></span> {{tenant.Details.noChildren}}</p>
					    <p class="form-control-static"><span><strong>Names </strong></span> :{{tenant.Details.Children.names}}</p>
					</div>
				  </div>

				  <div ng-if="tenant.Details.aboutme" class="row form-group">
					<label class="col-sm-4 control-label">About {{tenant.name}}</label>
					<div class="col-sm-8">
					  <p class="form-control-static">{{tenant.Details.aboutme}}</p>
					</div>
				  </div>
		        </div>
			</div>
			 
	</div>
</div>

