<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="public/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="public/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="RentmngtApp" >
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

<div data-ng-controller="MainCtrl" >
     

 
    <div class="container">
 
    
               <div class="navbar-header ">
					  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					 <a href="#" class="navbar-brand"><strong><h3>Nana</h3></strong></a>
				 </div>



      <div class="masthead">
         


        <ul class="nav nav-justified bs-navbar-collapse">
          <li class="active"><a href="#!/home">Home</a></li>
          <li><a href="#!/news">News</a></li>
		   <li><a href="#!/Services">Services</a></li>
          <li><a href="#!/about">About</a></li>
          <li><a href="#!/contacts">Contact</a></li>
		  <li><a href="#!/login">Login</a></li>
        </ul>
      </div>
 
     
<br>
 <div data-ng-view ></div>
   
</div>


         <div class="navbar navbar-default navbar-fixed-bottom">
		         <div class="container" >
			       <p>copyrights @SoftSol 2014 </p>				    	
          </div>

</div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="public/es5-shim/es5-shim.js"></script>
    <script src="public/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="public/jquery/jquery.js"></script>
    <script src="public/angular/angular.js"></script>
    <script src="public/bootstrap/dist/js/bootstrap.js"></script>
    <script src="public/angular-resource/angular-resource.js"></script>
    <script src="public/angular-cookies/angular-cookies.js"></script>
    <script src="public/angular-sanitize/angular-sanitize.js"></script>
    <script src="public/angular-route/angular-route.js"></script>
    <script src="public/angular-animate/angular-animate.js"></script>
    <script src="public/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/controllers/main.js"></script>
        <!-- endbuild -->

<script>

  $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });

</script>
         
		
<SCRIPT id=/templates/my-head.html type=text/ng-template>   <h1>{{title}}</h1> <p>TESSSSSS</p> </SCRIPT> 

<SCRIPT id=/templates/home.html type=text/ng-template>   
     <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Marketing stuff!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
      </div> 
 </SCRIPT> 



<SCRIPT id=/templates/services.html type=text/ng-template>  
     <div class="col-xs-6">
	  <ul class="list-group">
		  <li class="list-group-item">Shoping Delivery</li>
		  <li class="list-group-item">Food Delivery</li>
		  <li class="list-group-item">Movie Delivery</li>
		  <li class="list-group-item">Search Houses</li>
		  <li class="list-group-item">Property Search</li>
      </ul>
	 </div>
	 
	 <div class="col-xs-6">
	 <ul class="nav" >
	    <li><a href="#!/Services">Service Registration</a></li> 
		 <li><a href="#!/Services">Property Registration</a></li> 
     </ul>
	 </div>
	 
 </SCRIPT> 


<SCRIPT id=/templates/news.html type=text/ng-template>   <p>News</p> </SCRIPT> 
<SCRIPT id=/templates/about.html type=text/ng-template>   <p>About</p> </SCRIPT> 
<SCRIPT id=/templates/contact.html type=text/ng-template>   <p>Contact</p> </SCRIPT> 
<SCRIPT id=/templates/login.html type=text/ng-template>    
       <form id="login" name="login" class="navbar-form navbar-right" role="form" novalidate>
	     <h5><span class="fa fa-sign-in">Login</h5>
		  <div ng-show="invalidcredential" class="alert alert-danger"><strong>Invalid Credential !!!</strong> </div>  
            <div class="form-group">
              <input type="text" placeholder="UserName" class="form-control" name="username" id="username"  ng-model="user.username" required><span ng-show="login.username.$dirty &amp;&amp; login.username.$error.required" class="help-block">User Credential Required</span>

            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" name="password" id="password"  ng-model="user.password" required ><span ng-show="login.password.$dirty &amp;&amp; login.password.$error.required" class="help-block"> Password is Required</span>
            </div>
            <button  ng-disabled="login.$invalid" ng-click="Userlogin()" type="submit" class="btn btn-success">Sign in</button>
          </form>
	</SCRIPT> 

</body>
</html>
