<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="public/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="public/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="RentmngtApp" background="images/Assets/index_background.jpg">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

   
 <!-- Add your site or application content here -->


	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	  
      <a class="navbar-brand" href="#">
	   <span class="glyphicon glyphicon-home"></span>
	   <strong>Nana</strong>
	  </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/SearchRentals.html">To Rent</a></li>
		<li><a href="/LandlordAgents.html">Landlords/Agents</a></li>
		
		 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Property <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/Property.html">Search/View Property</a></li>
			 <li class="divider"></li>
            <li><a href="/EnlistProperty.html">Enlist Property</a></li>
          </ul>
        </li>
       	<li><a href="/News.html">News</a></li>
		<li><a href="/Services.html">Services</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
	      <li><a href="/Login.html">Login</a></li>
		<li><a href="#"></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div data-ng-controller="MainCtrl" class="row cont">

<div class="col-md-3">
  <div class="well">
  </div>
</div>
  <div class="col-md-6">
    <div class="jumbotron hegt">
      
		  <div class="col-sm-6 col-md-6 col-lg-6 col-md-offset-3 trans">
					<div class="input-group">
					  <div class="input-group-btn">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Search For <span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu">
						  <li ng-repeat="item in SearchItems">
						      <a ng-click="selectSearch(item)"href="#">{{item}}</a>
						</li>					  
						</ul>
					  </div><!-- /btn-group -->
					  <input ng-model="choice" type="text" class="form-control"></input>
					   <span class="input-group-btn">
						  <button class="btn btn-danger" type="button">Go!</button>
						</span>
					</div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				
	    </div>
  </div><!-- /.col-lg-8 -->
	      <div  class="col-md-3">
				 <div class="panel panel-default">
				  <div class="panel-heading">
				           Search
					 </div>
					  <div class="panel-body">
						 <a data-toggle="modal" data-target="#myModal">Location</a>				 
					  </div>
					  <div class="panel-footer">
					      <button type="button" class="btn btn-danger ">Action</button>
					  </div>
					</div>
		 </div>
		</div><!-- /.col-lg-4 -->
	</div>
<div class="row cont">
	 <div class="col-md-12" >
		 <div class="well well-sm">
			<h3 class="label label-primary">Welcome</h3>
			<p>
            If you've got a property that needs a tenant, or if you're a renter who needs a place to live, you've come to the right place! We makes it quick and easy for tenants to search for rental homes, which is why thousands of them use our comprehensive database every day to find their perfect home for rent. This is the best place for renters, property owners and property managers to connect online.</p>
            <p>
            With Us, you can take your time finding your next residence -- search as much as you want when it's convenient for you, and it's all free! We've got thousands of available houses, apartments, condos and duplexes all over the country and in your area.</p>
           <p>
           Whether you're looking for a house, apartment or other type of rental property, We makes it easy to find a home that you'll love. You can even narrow your search to specific types of rentals, such as rent-to-own properties and lease option rentals. Right from the comfort of your own home or office, you can take a tour of any of our rental properties. It's all right there for you - without any cost or hassle

			</p>
		 </div>
	</div>
</div>
   <div class="row cont">
      <div class="col-md-4" >
	     <div class="well well-sm">
		   <h4 class="label label-primary">For Renters</h4>
            <p>Search thousands of listings -- around the block or across the country -- anytime for FREE. No limitations and no membership required.</p>
		 </div>
	  </div>
 
	     <div class="col-md-4" >
		  <div class="well well-sm">
		  <h4 class="label label-primary">Landlords / Agents /Property Management</h4>
            <p>Reach qualified renters at the best time during the rental search.
				List on a site that focuses on rental advertising for homes and apartments.
				Save time and money by getting new tenants as soon as possible after someone moves out.
				Get reliable, accurate reports.
				Close vacancies faster.
			</p>
		 </div>
		 
         </div>
 
	     <div class="col-md-4" >
		  <div class="well well-sm">
		  <h4 class="label label-primary">For Service Provider</h4>
            <p>Search thousands of listings -- around the block or across the country -- anytime for FREE. No limitations and no membership required.</p>
        </div>
      </div>
      
   </div>
	
	  
	</div>
  <div data-ng-view ></div>
   
</div>
</div>
<div class="row cont">
<p>Contacts</p>
<p>About Us</p>

</div>


		 <!--[if lt IE 9]>
    <script src="public/es5-shim/es5-shim.js"></script>
    <script src="public/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="public/jquery/jquery.js"></script>
    <script src="public/angular/angular.js"></script>
    <script src="public/bootstrap/dist/js/bootstrap.js"></script>
    <script src="public/angular-resource/angular-resource.js"></script>
    <script src="public/angular-cookies/angular-cookies.js"></script>
    <script src="public/angular-sanitize/angular-sanitize.js"></script>
    <script src="public/angular-route/angular-route.js"></script>
    <script src="public/angular-animate/angular-animate.js"></script>
	<script src="public/angular-bootstrap/ui-bootstrap-tpls.min.js"></script> 
    <script src="public/angular-touch/angular-touch.js"></script>


    <!-- endbower -->
    <!-- endbuild -->


	 <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/controllers/main.js"></script>
        <!-- endbuild -->

<!-- Modal -->

<div data-ng-controller="MainCtrl" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Search Location</h4>
      </div>
      <div class="modal-body">
         <ul>
                <li ng-repeat="item in locations">
                    <a ng-click="selectLocation(item)">{{ item }}</a>
                </li>
            </ul>
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</body>
</html>