<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="public/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="public/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/property.css">
    <!-- endbuild -->
  </head>
  <body ng-app="RentmngtAppSearchRental" background="images/Assets/bg.png">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

   
 <!-- Add your site or application content here -->


	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        
      <a class="navbar-brand" href="#">
	   <span class="glyphicon glyphicon-home"></span>
	   <strong>Nana</strong>
	  </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="/index.html">Home</a></li>
        <li class="active"><a href="#">To Rent</a></li>
		<li><a href="/LandlordAgents.html">Landlords/Agents</a></li>
		<li><a href="/Property.html">Property</a></li>
       	<li><a href="/News.html">News</a></li>
		<li><a href="/Services.html">Services</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
	      <li><a href="/Login.html">Login</a></li>
		<li><a href="#"></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container" data-ng-controller="Searchctrl">
    <div class="row">
        <div class="col-md-3">
	     <label for="location">Location</label>
			<select class="form-control"  ng-model="search.location" ng-options="loca.name for loca in loc">
			 </select>
        </div>
		  <div class="col-md-3">
              <label for="RentalType">Rental Type</label>
				  <select class="form-control"  ng-model="search.type" ng-options="type.name for type in Type">
			 </select>
		  </div>
         <div class="col-md-3">
              <label for="RentalType">Amount</label>
			  <div class="input-group">
				<input type="text" class="form-control" placeholder="Min" ng-model="search.Amount.Min">
				<input type="text" class="form-control" placeholder="Max" ng-model="search.Amount.Max">
              </div>
		  </div>

		   <div class="col-md-3">
                 <div class="btn-group">
				   <label >Go !</label>
						<button ng-click="SearchRentals()" type="button" class="btn btn-danger btn-lg">Search</button>
					  </div>
		   </div>

    </div> 
	<br>
	<div class="row">
	   <div class="well">
		<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading">
			  Search Results ..
			  
			  </div>
                                    <ul class="list-group" >
											  <li class="list-group-item" ng-repeat="searchResult in Data">
                                                     <div>
                                                      <strong><a href="#">House Number :{{searchResult.number}}</a></strong>
														<span class="pull-right text-muted">
															<em>Contact Name :{{ searchResult.plot.contact.name}}</em>
															
														</span>
													 </div>
													 <div> <strong><a href="#">Plot Name :{{searchResult.plot.Plotname}}</a></strong></div>
													<div> Hse Type :{{searchResult.type.name }}</div>
													 <div> 
													 <em>Amount :{{ searchResult.amount}}</em>
													 	<span class="pull-right text-muted">
															<em>Contact Phone:{{ searchResult.plot.contact.phone}}</em>													
														</span>
													 </div>  
													 <div> Location :{{searchResult.plot.location.name }}</div>
													
											   </li>
											 
										  </ul>
						</div>
              </div>
	   </div>

	</div>
</div>

                                       


 
	   <!--[if lt IE 9]>
    <script src="public/es5-shim/es5-shim.js"></script>
    <script src="public/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="public/jquery/jquery.js"></script>
    <script src="public/angular/angular.js"></script>
    <script src="public/bootstrap/dist/js/bootstrap.js"></script>
    <script src="public/angular-resource/angular-resource.js"></script>
    <script src="public/angular-cookies/angular-cookies.js"></script>
    <script src="public/angular-sanitize/angular-sanitize.js"></script>
    <script src="public/angular-route/angular-route.js"></script>
    <script src="public/angular-animate/angular-animate.js"></script>
    <script src="public/angular-bootstrap/ui-bootstrap-tpls.min.js"></script> 
    <script src="public/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/controllers/RentalSearch.js"></script>	
		

  </body>
</html>
